<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table tr td{border: 1px solid black;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>상세보기</h1>
    <a id="home" href="#">목록으로</a>
    <a id="update" href="#">수정화면으로</a>
    <table>
        <tr>
            <td colspan="3"width="600px" height="50px"><span id="title">타이틀</span></td>
        </tr>
        <tr>
            <td width="200px"height="50px"><span id="openDate">시작날짜</span></td>
            <td width="200px"height="50px"><span id="address">주소</span></td>
            <td width="200px"height="50px"><span id="phoneNumber">전화번호</span></td>
        </tr>
        <tr>
            <td colspan="3"width="600px"height="300px"><p id="content">내용</p></td>
        </tr>
    </table>
    <button id="delete-btn">삭제하기</button>
    <script>
        $('#home').click(e=>{location.href="/forms/festival/list"})
        $.getJSON(`/festival/detail/${localStorage.getItem('fesNum')}`,d=>{
            $('#title').text(d.title)
            $('#openDate').text(d.openDate)
            $('#address').text(d.address)
            $('#phoneNumber').text(d.phoneNumber)
            $('#content').text(d.content)
            $('#update').click(e=>{
                $('#home').text('')
                $('#update').text('')
                $('#title').html('<input value="'+d.title+'">')
                $('#openDate').html('<input value="'+d.openDate+'">')
                $('#address').html('<input value="'+d.address+'">')
                $('#phoneNumber').html('<input value="'+d.phoneNumber+'">')
                $('#content').html('<textarea cols="80" rows="10">'+d.content+'</textarea>')
                $('#delete-btn').text('수정하기')
            })
            $('#delete-btn').click(e=>{
            $.ajax({
                url:'/festival',
                type:'DELETE',
                data:JSON.stringify({fesNum:localStorage.getItem('fesNum')}),
                dataType:'json',
                contentType:'application/json',
                success:d=>{if(d.message==='SUCCESS'){alert('삭제 성공'); location.href='/forms/festival/list'}
                            else{alert('삭제 실패')}},
                error:e=>{alert('오류 발생')}
            })
        })
        })
    </script>
</body>
</html>