<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table tr td{border: 1px solid black;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>상세보기</h1>
    <a id="home" href="#">목록으로</a>
    <a id="update" href="#">수정화면으로</a>
    <table>
        <tr>
            <td id="title"colspan="3"width="600px" height="50px">타이틀</td>
        </tr>
        <tr>
            <td id="openDate"width="200px"height="50px">시작날짜</td>
            <td id="address"width="200px"height="50px">주소</td>
            <td id="phoneNumber"width="200px"height="50px">전화번호</td>
        </tr>
        <tr>
            <td id="content"colspan="3"width="600px"height="300px">내용</td>
        </tr>
    </table>
    <button id="delete-btn">삭제하기</button>
    <script>
        $('#home').click(e=>{location.href="/forms/festival/list"})
        $.getJSON(`/festival/detail/${localStorage.getItem('fesNum')}`,d=>{
            $('#title').text(d.title)
            $('#openDate').text(d.openDate)
            $('#address').text(d.address)
            $('#phoneNumber').text(d.phoneNumber)
            $('#content').text(d.content)
        })
    </script>
</body>
</html>